#login {
  margin: 10% auto;
  width: 350px;
  height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 10px;
}

#signup {
  margin: 10% auto;
  width: 350px;
  height: 450px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 10px;
}

.user-container {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  padding: 10px;
}

.user-container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.user-container .row:hover {
  background-color: #e0e0e0;
}

.user-container .row > * {
  margin-right: 10px;
}

.user-container .row > *:last-child {
  margin-right: 0;
}