#login {
  margin: 10% auto;
  width: 350px;
  height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fbfbfb;
  border-radius: 10px;
}

#signup {
  margin: 10% auto;
  width: 350px;
  height: 450px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fbfbfb;
  border-radius: 10px;
}

.user-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.user-row {
  background-color: #fbfbfb; 
  border-radius: 5px; 
  margin-bottom: 10px; 
}

.form-check {
  display: flex; 
  align-items: center; 
}

#accountType {
  margin-top: 5px; 
}