.cart-img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-right: 20px;
}
.container {
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px; 
  }
  
  .row {
    background-color: #f2f2f2; 
    border-radius: 5px; 
    margin-bottom: 10px; 
  }
  
  .cart-img {
    max-width: 100%; /* Ensure the image fits within its container */
  }
  