.cart-img{
    width: 75px;
    height: 75px;
    max-width: 100%; 
    object-fit: cover;
}
.container {
    border: 1px solid #ddd; 
    background-color: #fbfbfb; 
    border-radius: 5px; 
    padding: 10px; 
  }
.close-btn:hover {
  cursor: pointer;
}