.navbar-links {
    margin-right: 4rem;
}
.navbar-brand {
    margin-left: 4rem;
}
.brand-img{
    padding: 0;
    margin: 0;
}
.navbar-toggler{
    /* margin-right: 4rem; */
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-links{
    margin-left: 4rem;
    font-size: .95rem;
}
.navbar-links-loggedIn{
    margin: 0 0 0 1rem;
    font-size: .95rem;
}
.navbar-links-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-link {
    color: #07689F !important;
}
.nav-link:hover{
    color: #f5f5f5 !important;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .navbar-brand {
        margin: 0 0 0 50%; /* Change 50% to (50% - the width of .navbar-brand) */
        transform: translateX(-50%);
    }
    .navbar-links-user{
        flex-direction: column;
    }
}